{% extends "layout.html" %}
{% block content %}
<div class="col-sm-12 d-flex justify-content-center" style="text-align:center; padding-bottom:20px;">
  <a href="{{ url_for('download_pdf', product_name1=product_name1, product_name2=product_name2) }}" class="btn btn-custom" target="_blank" style="width:300px;">
    <span class="iconify" data-icon="mi:export" style="display: inline-block; font-size:16px;"> </span>
    <span> &nbsp;  Exporteer PDF </span>
  </a>
</div>


{### DESKTOP ###}
<div class="col-md-6 col-sm-6 col-lg-6 col-6 compare-mobile-hidden">
  <form action="{{ url_for('compare', product_name1='search=', product_name2=product_name2) }}" method="post" autocomplete="off" >
    <div class="input-group" style="padding-bottom:20px;">
        <button id="searchButton" type="submit" class="btn btn-custom"> <i class="fa fa-search" style="color:white"> </i> </button>
        <input role="form" name="searchInput1" id="autocomplete" type="text" placeholder="Zoeken..." aria-describedby="button-addon8" class="form-control">

      </div>
  </form>
  {% if (product_name1 not in urlList) and (not product_name1.startswith('search=')) %}
    <div class="content-section">
      <div class="row center">
        <div class="col-md-12 col-sm-12 col-lg-12 pull-md-right" style="text-align:center;">
          {% if item1.iloc[0]['image'] %}
            <img class="compare-img" src="{{ url_for('static', filename='img/' + item1.iloc[0]['image']) }}">
          {% else %}
            <img class="compare-img" src="/static/img/no_image.png" >
          {% endif %}
        </div>

        <div class="col-md-12 col-sm-12 col-lg-12" >
            {% if item1.iloc[0]['new'] %}
               <h1 class="mt-5 compare-center" style="display: flex;">
                 <span class="badge bg-danger text-light center" style="font-size:18px;  max-height:30px; ">NEW</span>
                 <span style="vertical-align:middle;" >&nbsp;{{ item1.iloc[0]['product-name'] }}</span>
               </h1>
            {% else %}
              <h1 class="mt-5 compare-center"> {{ item1.iloc[0]['product-name'] }}</h1>
            {% endif %}
            <div class="container-fluid my-container">
              <div class="row compare-center">
                  <a href="{{ item1.iloc[0]['link'] }}" class="btn btn-custom" target="_blank" style="padding-left: 7px; padding-right: 5px; margin:6px; width:140px">
                    <span> DATASHEET </span>
                    &nbsp;
                    <span class="iconify" data-icon="material-symbols:keyboard-arrow-right" style="display: inline-block; font-size:20px;"></span>
                  </a>
                  {% if item1.iloc[0]['accessories'] %}
                  <a href="{{ item1.iloc[0]['link'] }}" class="btn btn-custom" target="_blank" style="padding-left: 7px; padding-right: 5px; margin:6px; width:140px">
                    <span> ACCESOIRES </span>
                    &nbsp;
                    <span class="iconify" data-icon="material-symbols:keyboard-arrow-right" style="display: inline-block; font-size:20px"></span>
                  </a>
                  {% endif %}
                </div>

            </div>
        </div>
      </div>
      <div class= "container-fluid" >
        {% set l = (specs1.columns|length) %}
        {% set l = l|round%}



          <div class='col-md-12' style="padding-right:5px; padding-left:5px; margin-bottom:20px">
            <div class="card " style="border: 1px solid #C8CFD4;padding:0px">
              <table class="table" border="0" cellspacing="0" cellpadding="5" style="margin:0px">
              {% for i in range(0, l|int) %}

                <tr>
                  <td width="45%"><b>{{ specs1.columns[i] }}</b></td>
                  <td>
                    {% for content in specs1[specs1.columns[i]].dropna() %}
                      {% for el in content %}
                        {% if el != 0 %}
                          {{ el }}<br/>
                        {% endif %}
                      {% endfor %}
                    {% endfor %}

                  </td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>


      </div>
    </div>
  {% else %}
  <div class="list-group">
      {% for i in range(0, products1|length) %}
        <a href="{{ url_for('compare', product_name1=products1.iloc[products1|length - 1 - i]['product-name'], product_name2=product_name2) }}" class="list-group-item list-group-item-action">
          <div class="row center">
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 center-image-xs">
              {% if products1.iloc[products1|length - 1 - i]['image'] %}
                <img class="img-fluid list-img" src="{{ url_for('static', filename='img/' + products1.iloc[products1|length - 1 - i]['image']) }}" >
              {% else %}
                <img class="img-fluid list-img" src="/static/img/no_image.png" >
              {% endif %}
            </div>
            <div class="col-8 col-sm-9 col-md-9 col-lg-9 center-image-xs">
              {% if products1.iloc[products1|length - 1 - i]['new'] %}
                <h4 class="mt-0 float-left"><span class="badge bg-danger text-light">NEW</span>&nbsp;{{ products1.iloc[products1|length - 1 - i]['product-name'] }}</h4>
              {% else %}
                <h4 class="mt-0 float-left"> {{ products1.iloc[products1|length - 1 - i]['product-name'] }}</h4>
              {% endif %}

            </div>
          </div>
        </a>
      {% endfor %}

  </div>

  {% endif %}
</div>

<div class="col-md-6 col-sm-6 col-lg-6 col-6 compare-mobile-hidden">
  <form action="{{ url_for('compare', product_name1=product_name1, product_name2='search=') }}" method="post" autocomplete="off" >
    <div class="input-group" style="padding-bottom:20px;">
        <button id="searchButton2" type="submit" class="btn btn-custom" > <i class="fa fa-search" style="color:white"> </i> </button>
        <input role="form" name="searchInput2" id="autocomplete2" type="text" placeholder="Zoeken..." aria-describedby="button-addon8" class="form-control">

      </div>
  </form>
  {% if (product_name2 not in urlList) and (not product_name2.startswith('search=')) %}
    <div class="content-section">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12 pull-md-right" style="text-align:center;">
          {% if item2.iloc[0]['image'] %}
            <img class="compare-img" src="{{ url_for('static', filename='img/' + item2.iloc[0]['image']) }}">
          {% else %}
            <img class="compare-img" src="/static/img/no_image.png" >
          {% endif %}
        </div>

        <div class="col-md-12 col-sm-12 col-lg-12" >
            {% if item2.iloc[0]['new'] %}
              <h1 class="mt-5 compare-center" style="display: flex;">
                <span class="badge bg-danger text-light center" style="font-size:18px;  max-height:30px; ">NEW</span>
                <span style="vertical-align:middle;" >&nbsp;{{ item2.iloc[0]['product-name'] }}</span>
              </h1>
            {% else %}
              <h1 class="mt-5 compare-center"> {{ item2.iloc[0]['product-name'] }}</h1>
            {% endif %}
            <div class="container-fluid my-container">
              <div class="row compare-center">
                  <a href="{{ item2.iloc[0]['link'] }}" class="btn btn-custom" target="_blank" style="padding-left: 7px; padding-right: 5px; margin:6px; width:140px">
                    <span> DATASHEET </span>
                    &nbsp;
                    <span class="iconify" data-icon="material-symbols:keyboard-arrow-right" style="display: inline-block; font-size:20px;"></span>
                  </a>
                  {% if item2.iloc[0]['accessories'] %}
                  <a href="{{ item2.iloc[0]['link'] }}" class="btn btn-custom" target="_blank" style="padding-left: 7px; padding-right: 5px; margin:6px; width:140px">
                    <span> ACCESOIRES </span>
                    &nbsp;
                    <span class="iconify" data-icon="material-symbols:keyboard-arrow-right" style="display: inline-block; font-size:20px"></span>
                  </a>
                  {% endif %}
                </div>

            </div>
        </div>
      </div>
      <div class= "container-fluid" >
        {% set l = (specs2.columns|length) %}
        {% set l = l|round%}



        <div class='col-md-12' style="padding-right:5px; padding-left:5px; margin-bottom:20px">
          <div class="card " style="border: 1px solid #C8CFD4;padding:0px">
            <table class="table" border="0" cellspacing="0" cellpadding="5" style="margin:0px">
            {% for i in range(0, l|int) %}

              <tr>
                <td width="45%"><b>{{ specs2.columns[i] }}</b></td>
                <td>
                  {% for content in specs2[specs2.columns[i]].dropna() %}
                    {% for el in content %}
                      {% if el != 0 %}
                        {{ el }}<br/>
                      {% endif %}
                    {% endfor %}
                  {% endfor %}

                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>


      </div>
    </div>
  {% else %}
  <div class="list-group ">
      {% for i in range(0, products2|length) %}
        <a href="{{ url_for('compare', product_name1=product_name1, product_name2=products2.iloc[products2|length - 1 - i]['product-name']) }}" class="list-group-item list-group-item-action">
          <div class="row center">
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 center-image-xs">
              {% if products2.iloc[products2|length - 1 - i]['image'] %}
                <img class="img-fluid list-img" src="{{ url_for('static', filename='img/' + products2.iloc[products2|length - 1 - i]['image']) }}">
              {% else %}
                <img class="img-fluid list-img" src="/static/img/no_image.png">
              {% endif %}
            </div>
            <div class="col-8 col-sm-9 col-md-9 col-lg-9 center-image-xs">
              {% if products2.iloc[products2|length - 1 - i]['new'] %}
                <h4 class="mt-0 float-left"><span class="badge bg-danger text-light">NEW</span>&nbsp;{{ products2.iloc[products2|length - 1 - i]['product-name'] }}</h4>
              {% else %}
                <h4 class="mt-0 float-left"> {{ products2.iloc[products2|length - 1 - i]['product-name'] }}</h4>
              {% endif %}

            </div>
          </div>
        </a>
      {% endfor %}

  </div>

  {% endif %}
</div>







{### MOBILE ###}
<div class="col-12 compare-mobile-show">
  <form action="{{ url_for('compare', product_name1='search=', product_name2=product_name2) }}" method="post" autocomplete="off" >
    <div class="input-group" style="padding-bottom:20px;">
        <button id="searchButton" type="submit" class="btn btn-custom"> <i class="fa fa-search" style="color:white"> </i> </button>
        <input role="form" name="searchInput1" id="autocomplete" type="text" placeholder="Zoeken..." aria-describedby="button-addon8" class="form-control">

      </div>
  </form>
  {% if (product_name1 not in urlList) and (not product_name1.startswith('search=')) %}
    <div class="content-section">
      <div class="row center">
        <div class="col-md-12 col-sm-12 col-lg-12 pull-md-right" style="text-align:center;">
          {% if item1.iloc[0]['image'] %}
            <img class="compare-img" src="{{ url_for('static', filename='img/' + item1.iloc[0]['image']) }}">
          {% else %}
            <img class="compare-img" src="/static/img/no_image.png" >
          {% endif %}
        </div>

        <div class="col-12" >
            {% if item1.iloc[0]['new'] %}
               <h1 class="mt-5 compare-center" style="display: flex;">
                 <span class="badge bg-danger text-light center" style="font-size:18px;  max-height:30px; ">NEW</span>
                 <span style="vertical-align:middle;" >&nbsp;{{ item1.iloc[0]['product-name'] }}</span>
               </h1>
            {% else %}
              <h1 class="mt-5 compare-center"> {{ item1.iloc[0]['product-name'] }}</h1>
            {% endif %}
            <div class="container-fluid my-container">
              <div class="row compare-center">
                  <a href="{{ item1.iloc[0]['link'] }}" class="btn btn-custom" target="_blank" style="padding-left: 7px; padding-right: 5px; margin:6px; width:140px">
                    <span> DATASHEET </span>
                    &nbsp;
                    <span class="iconify" data-icon="material-symbols:keyboard-arrow-right" style="display: inline-block; font-size:20px;"></span>
                  </a>
                  {% if item1.iloc[0]['accessories'] %}
                  <a href="{{ item1.iloc[0]['link'] }}" class="btn btn-custom" target="_blank" style="padding-left: 7px; padding-right: 5px; margin:6px; width:140px">
                    <span> ACCESOIRES </span>
                    &nbsp;
                    <span class="iconify" data-icon="material-symbols:keyboard-arrow-right" style="display: inline-block; font-size:20px"></span>
                  </a>
                  {% endif %}
                </div>

            </div>
        </div>
      </div>
      <div class= "container-fluid " >
        {% set l = (specs1.columns|length) %}
        {% set l = l|round%}



          <div class='col-md-12' style="padding-right:5px; padding-left:5px; margin-bottom:20px">
            <div class="card " style="border: 1px solid #C8CFD4;padding:0px">
              <table class="table" border="0" cellspacing="0" cellpadding="5" style="margin:0px">
              {% for i in range(0, l|int) %}

                <tr>
                  <td width="45%"><b>{{ specs1.columns[i] }}</b></td>
                  <td>
                    {% for content in specs1[specs1.columns[i]].dropna() %}
                      {% for el in content %}
                        {% if el != 0 %}
                          {{ el }}<br/>
                        {% endif %}
                      {% endfor %}
                    {% endfor %}

                  </td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>


      </div>
    </div>
  {% else %}
  <div class="list-group list-group-horizontal position-relative overflow-auto hide-scrollbar">
      {% for i in range(0, products1|length) %}
        <a href="{{ url_for('compare', product_name1=products1.iloc[products1|length - 1 - i]['product-name'], product_name2=product_name2) }}" class="list-group-item list-group-item-action scrollbar-item center">
          <div class="row center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 center-image-md">
              {% if products1.iloc[products1|length - 1 - i]['image'] %}
                <img class="img-fluid list-img" src="{{ url_for('static', filename='img/' + products1.iloc[products1|length - 1 - i]['image']) }}" >
              {% else %}
                <img class="img-fluid list-img" src="/static/img/no_image.png" >
              {% endif %}
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 center-image-md">
              {% if products1.iloc[products1|length - 1 - i]['new'] %}
                <h4 class="mt-0 float-left center-text">
                  <span class="badge bg-danger text-light">NEW</span>
                  &nbsp;{{ products1.iloc[products1|length - 1 - i]['product-name'] }}
                </h4>
              {% else %}
                <h4 class="mt-0 float-left center-text"> {{ products1.iloc[products1|length - 1 - i]['product-name'] }}</h4>
              {% endif %}

            </div>
          </div>
        </a>
      {% endfor %}

  </div>
  <div class="scrollbar"></div>

  {% endif %}
</div>

<div class="col-12 compare-mobile-show">
  <form action="{{ url_for('compare', product_name1=product_name1, product_name2='search=') }}" method="post" autocomplete="off" >
    <div class="input-group" style="padding-bottom:20px;">
        <button id="searchButton2" type="submit" class="btn btn-custom" > <i class="fa fa-search" style="color:white"> </i> </button>
        <input role="form" name="searchInput2" id="autocomplete2" type="text" placeholder="Zoeken..." aria-describedby="button-addon8" class="form-control">

      </div>
  </form>
  {% if (product_name2 not in urlList) and (not product_name2.startswith('search=')) %}
    <div class="content-section">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12 pull-md-right" style="text-align:center;">
          {% if item2.iloc[0]['image'] %}
            <img class="compare-img" src="{{ url_for('static', filename='img/' + item2.iloc[0]['image']) }}">
          {% else %}
            <img class="compare-img" src="/static/img/no_image.png" >
          {% endif %}
        </div>

        <div class="col-12" >
            {% if item2.iloc[0]['new'] %}
              <h1 class="mt-5 compare-center" style="display: flex;">
                <span class="badge bg-danger text-light center" style="font-size:18px;  max-height:30px; ">NEW</span>
                <span style="vertical-align:middle;" >&nbsp;{{ item2.iloc[0]['product-name'] }}</span>
              </h1>
            {% else %}
              <h1 class="mt-5 compare-center"> {{ item2.iloc[0]['product-name'] }}</h1>
            {% endif %}
            <div class="container-fluid my-container">
              <div class="row compare-center">
                  <a href="{{ item2.iloc[0]['link'] }}" class="btn btn-custom" target="_blank" style="padding-left: 7px; padding-right: 5px; margin:6px; width:140px">
                    <span> DATASHEET </span>
                    &nbsp;
                    <span class="iconify" data-icon="material-symbols:keyboard-arrow-right" style="display: inline-block; font-size:20px;"></span>
                  </a>
                  {% if item2.iloc[0]['accessories'] %}
                  <a href="{{ item2.iloc[0]['link'] }}" class="btn btn-custom" target="_blank" style="padding-left: 7px; padding-right: 5px; margin:6px; width:140px">
                    <span> ACCESOIRES </span>
                    &nbsp;
                    <span class="iconify" data-icon="material-symbols:keyboard-arrow-right" style="display: inline-block; font-size:20px"></span>
                  </a>
                  {% endif %}
                </div>

            </div>
        </div>
      </div>
      <div class= "container-fluid" >
        {% set l = (specs2.columns|length) %}
        {% set l = l|round%}



        <div class='col-md-12' style="padding-right:5px; padding-left:5px; margin-bottom:20px">
          <div class="card " style="border: 1px solid #C8CFD4;padding:0px">
            <table class="table" border="0" cellspacing="0" cellpadding="5" style="margin:0px">
            {% for i in range(0, l|int) %}

              <tr>
                <td width="45%"><b>{{ specs2.columns[i] }}</b></td>
                <td>
                  {% for content in specs2[specs2.columns[i]].dropna() %}
                    {% for el in content %}
                      {% if el != 0 %}
                        {{ el }}<br/>
                      {% endif %}
                    {% endfor %}
                  {% endfor %}

                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>


      </div>
    </div>
  {% else %}
  <div class="list-group list-group-horizontal position-relative overflow-auto hide-scrollbar">
      {% for i in range(0, products2|length) %}
        <a href="{{ url_for('compare', product_name1=product_name1, product_name2=products2.iloc[products2|length - 1 - i]['product-name']) }}" class="list-group-item list-group-item-action scrollbar-item center" >
          <div class="row center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 center-image-md">
              {% if products2.iloc[products2|length - 1 - i]['image'] %}
                <img class="img-fluid list-img" src="{{ url_for('static', filename='img/' + products2.iloc[products2|length - 1 - i]['image']) }}">
              {% else %}
                <img class="img-fluid list-img" src="/static/img/no_image.png">
              {% endif %}
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 center-image-md">
              {% if products2.iloc[products2|length - 1 - i]['new'] %}
                <h4 class="mt-0 float-left center-text" >
                  <span class="badge bg-danger text-light">NEW</span>
                  &nbsp;{{ products2.iloc[products2|length - 1 - i]['product-name'] }}
                </h4>
              {% else %}
                <h4 class="mt-0 float-left center-text"> {{ products2.iloc[products2|length - 1 - i]['product-name'] }}</h4>
              {% endif %}

            </div>
          </div>
        </a>
      {% endfor %}

  </div>
  <div class="scrollbar"></div>

  {% endif %}
</div>



{% endblock content %}
