{% extends "layout.html" %}
{% block content %}
<div class="col-sm-12">
    <form action="{{ url_for('home') }}" method="post" autocomplete="off" >
      <div class="input-group" style="padding-bottom:20px;">
          <button id="searchButton" type="submit" class="btn btn-custom"> <i class="fa fa-search" style="color:white"> </i> </button>
          <input role="form" name="searchInput" id="autocomplete" type="text" placeholder="Zoeken..." aria-describedby="button-addon8" class="form-control">

        </div>
    </form>
    <div class="content-section">
      <div class="row">
        <div class="col-md-4 pull-md-right" style="text-align:center;">
          {% if item.iloc[0]['image'] %}
            <img class="item-img" src="{{ url_for('static', filename='img/' + item.iloc[0]['image']) }}">
          {% else %}
            <img class="item-img" src="/static/img/no_image.png" >
          {% endif %}
        </div>

        <div class="col-md-8"  >
            {% if item.iloc[0]['new'] %}
              <h1 class="mt-5 h1-center" style="display: flex;">
                <span class="badge bg-danger text-light center" style="font-size:18px;  max-height:30px; ">NEW</span>
                <span>&nbsp;{{ item.iloc[0]['product-name'] }}</span>
              </h1>
            {% else %}
              <h1 class="mt-5 h1-center"> {{ item.iloc[0]['product-name'] }}</h1>
            {% endif %}
            <div class="container-fluid my-container">
              <div class="row h1-center">
                  <a href="{{ item.iloc[0]['link'] }}" class="btn btn-custom" target="_blank" style="padding-left: 7px; padding-right: 5px; margin:6px; width:140px">
                    <span> DATASHEET </span>
                    &nbsp;
                    <span class="iconify" data-icon="material-symbols:keyboard-arrow-right" style="display: inline-block; font-size:20px;"></span>
                  </a>
                  {% if item.iloc[0]['accessories'] %}
                  <a href="{{ item.iloc[0]['link'] }}" class="btn btn-custom" target="_blank" style="padding-left: 7px; padding-right: 5px; margin:6px; width:140px">
                    <span> ACCESOIRES </span>
                    &nbsp;
                    <span class="iconify" data-icon="material-symbols:keyboard-arrow-right" style="display: inline-block; font-size:20px"></span>
                  </a>
                  {% endif %}

                  <a href="{{ url_for('compare', product_name1=item.iloc[0]['product-name'], product_name2=item.iloc[0]['product-group']) }}" class="btn btn-custom-transp" style="padding-left: 7px; padding-right: 5px; margin:6px; width:140px">
                    <span> Vergelijk </span>
                    &nbsp;
                    <span class="iconify" data-icon="material-symbols:keyboard-arrow-right" style="display: inline-block; font-size:20px"></span>
                  </a>
                </div>

            </div>
        </div>
      </div>




      {### DESKTOP ###}
      <div class= "row compare-mobile-hidden" style="margin-left:10px;margin-right:10px;margin-bottom:20px">
        {% set l = (specs.columns|length)/2 %}
        {% set l = l|round%}

        <div class='col-md-6' style="padding-right:5px; padding-left:5px;margin-bottom:20px">
          <div class="card " style="border: 1px solid #C8CFD4;padding:0px">
            <table class="table" border="0" cellspacing="0" cellpadding="5" style="margin:0px">
              {% for i in range(0, l|int) %}

                <tr>
                  <td width="45%"><b>{{ specs.columns[i] }}</b></td>
                  <td>
                    {% for content in specs[specs.columns[i]].dropna() %}
                      {% for el in content %}
                        {% if el != 0 %}
                          {{ el }}<br/>
                        {% endif %}
                      {% endfor %}
                    {% endfor %}

                  </td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>



        <div class='col-md-6' style="padding-right:5px; padding-left:5px; margin-bottom:20px">
          <div class="card " style="border: 1px solid #C8CFD4">
            <table class="table" border="0" cellspacing="0" cellpadding="5" style="margin:0px">
              {% for i in range(l|int, specs.columns|length) %}
                <tr>
                  <td width="45%"><b>{{ specs.columns[i] }}</b></td>
                  <td>
                    {% for content in specs[specs.columns[i]].dropna() %}
                      {% for el in content %}
                        {% if el != 0 %}
                          {{ el }}<br/>
                        {% endif %}
                      {% endfor %}
                    {% endfor %}

                  </td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>

      </div>




      {### MOBILE ###}
      <div class= "row compare-mobile-show" style="margin-left:10px;margin-right:10px;margin-bottom:20px">
        {% set l = (specs.columns|length) %}
        {% set l = l|round%}

        <div class='col-12' style="padding-right:5px; padding-left:5px;margin-bottom:20px">
          <div class="card " style="border: 1px solid #C8CFD4;padding:0px">
            <table class="table" border="0" cellspacing="0" cellpadding="5" style="margin:0px">
              {% for i in range(0, l|int) %}

                <tr>
                  <td width="45%"><b>{{ specs.columns[i] }}</b></td>
                  <td>
                    {% for content in specs[specs.columns[i]].dropna() %}
                      {% for el in content %}
                        {% if el != 0 %}
                          {{ el }}<br/>
                        {% endif %}
                      {% endfor %}
                    {% endfor %}

                  </td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>

    </div>
  </div>


{% endblock content %}
