{% extends "layout.html" %}

{% block filter %}
<div class="col-lg-3">
  <div class="content-section">
    <h3>Filter</h3>
    <form method="post" action="/{{product_group}}">
      <div class="d-flex justify-content-center">
        <a href="{{ url_for('product_group', product_group=product_group) }}" type="button" class="btn btn-filter ">Reset</a>
        <input role = "form" type="submit" class="btn btn-filter" value="Toepassen"/>
      </div>
      {% for el in filter.keys() %}
        {% if el in ['WWAN (4G)', 'GPS', 'WiFi', 'Bluetooth', 'Freezer', 'Cordless'] %}
        <div>
          <br/>
          <a data-bs-toggle="collapse" href="#{{el|replace(' ', '')|replace('(','')|replace(')','')}}" aria-expanded="false" aria-controls="{{el|replace(' ', '')|replace('(','')|replace(')','')}}" style="color: black">
          <h6 class="p-1 border-bottom">{{ el }}</h6></a>
            {% for c in filter[el] %}
            <div class="form-check collapse multi-collapse" id="{{el|replace(' ', '')|replace('(','')|replace(')','')}}">
              {% if c == "Ja" %}
                {% if (el in search) and (search[el] == 'Y') %}
                  <input class="form-check-input" type="radio" value="Y" name="{{el}}" id="{{c}}" checked>
                {% else %}
                  <input class="form-check-input" type="radio" value="Y" name="{{el}}" id="{{c}}">
                {% endif %}
                <label class="form-check-label" for="{{c}}">{{ c }}</label>
              {% else %}
                {% if (el in search) and (search[el] == 'N') %}
                  <input class="form-check-input" type="radio" value="N" name="{{el}}" id="{{c}}" checked>
                {% else %}
                  <input class="form-check-input" type="radio" value="N" name="{{el}}" id="{{c}}">
                {% endif %}
                <label class="form-check-label" for="{{c}}">{{ c }}</label>
              {% endif %}
             </div>
            {% endfor %}

        </div>
        {% elif el in ['Printbreedte', 'Mediabreedte', 'Snelheid'] %}
        <div>
          <br/>
          <a data-bs-toggle="collapse" href="#{{el|replace(' ', '')}}" aria-expanded="false" aria-controls="{{el|replace(' ', '')}}" style="color: black">
          <h6 class="p-1 border-bottom">{{ el }}</h6></a>
            {% for c in filter[el] %}
            <div class="collapse multi-collapse" id="{{el|replace(' ', '')}}">

              <div id="{{'slider-' + el}}"></div>

              <label class="form-check-label" for="{{c}}" >{{ c }}</label> </div>
            {% endfor %}

        </div>

        {% else %}
        <div>
          <br/>
          <a data-bs-toggle="collapse" href="#{{el|replace(' ', '')}}" aria-expanded="false" aria-controls="{{el|replace(' ', '')}}" style="color: black">
          <h6 class="p-1 border-bottom">{{ el }}</h6></a>
            {% for c in filter[el] %}
            <div class="form-check collapse multi-collapse" id="{{el|replace(' ', '')}}">
              {% if c in search %}
                <input class="form-check-input" type="checkbox" value="Y" name="{{c}}" id="{{c}}" checked>
              {% else %}
                <input class="form-check-input" type="checkbox" value="Y" name="{{c}}" id="{{c}}">
              {% endif %}
              <label class="form-check-label" for="{{c}}" >{{ c }}</label> </div>
            {% endfor %}

        </div>
        {% endif %}
      {% endfor %}
    </form>

  </div>
</div>
{% endblock filter %}

{% block content %}
<div class="col-lg-9">
    <form action="{{ url_for('home') }}" method="post" autocomplete="off" >
      <div class="input-group" style="padding-bottom:20px;">
          <button id="searchButton" type="submit" class="btn btn-custom" > <i class="fa fa-search" style="color:white"> </i> </button>
          <input role="form" name="searchInput" id="autocomplete" type="text" placeholder="Zoeken..." aria-describedby="button-addon8" class="form-control">

        </div>
    </form>
    <div class="list-group">
        {% for i in range(0, iter) %}
          <a href="{{ url_for('item', product_name=products.iloc[iter - 1 - i]['product-name'], product_group=products.iloc[iter - 1 - i]['product-group']) }}" class="list-group-item list-group-item-action">
            <div class="row">
              <div class="col-sm-2" style="margin-bottom:auto; margin-top:auto; margin-left:auto; margin-right:auto;">
                {% if products.iloc[iter - 1 - i]['image'] %}
                  <img class="img-fluid product-img" src="{{ url_for('static', filename=products.iloc[iter - 1 - i]['image']) }}" style="max-width: 150px; ">
                {% else %}
                  <img class="img-fluid product-img" src="/static/no_image.png" style="max-width: 150px; ">
                {% endif %}
              </div>
              <div class="col-md-10">
                {% if products.iloc[iter - 1 - i]['new'] %}
                  <h4 class="mt-0"><span class="badge bg-danger text-light">NEW</span> {{ products.iloc[iter - 1 - i]['product-name'] }}</h4>
                {% else %}
                  <h4 class="mt-0"> {{ products.iloc[iter - 1 - i]['product-name'] }}</h4>
                {% endif %}


                    {% if products.iloc[iter - 1 - i]['CAMERA'] %}

                      {% set content = products.iloc[iter - 1 - i]['CAMERA'] %}
                      <b>{{ 'CAMERA' }}</b>: &nbsp;
                      {% if 'front' in content|join(' ') %}
                        {% if 'rear' in content|join(' ') %}
                          {{ 'Front & Rear' }} &nbsp;
                        {% else %}
                          {{ 'Front' }} &nbsp;
                        {% endif %}
                      {% else %}
                        {{ 'Rear' }} &nbsp;
                      {% endif %}
                    {% endif %}


                    {% if products.iloc[iter - 1 - i]['WWAN'] %}
                      <b>{{ 'WWAN' }}</b> &nbsp;
                    {% endif %}

                    {% if products.iloc[iter - 1 - i]['CORDLESS'] %}
                      <b>{{ 'CORDLESS' }}</b> &nbsp;
                    {% endif %}


                    {% if products.iloc[iter - 1 - i]['GPS']   %}
                      <b>{{ 'GPS' }}</b> &nbsp;
                    {% endif %}


                    {% if products.iloc[iter - 1 - i]['OS']  %}
                      {% set content = products.iloc[iter - 1 - i]['OS'] %}
                      <b>{{ 'OS' }}</b>: &nbsp;
                      {{ (content|join(", ")).split(', 0', 1)[0] }}&nbsp;
                    {% endif %}

                    {% if products.iloc[iter - 1 - i]['PRINT MODE']  %}
                      {% set content = products.iloc[iter - 1 - i]['PRINT MODE'] %}
                      <b>{{ 'PRINT MODE' }}</b>: &nbsp;
                      {{ (content|join(", ")).split(', 0', 1)[0] }}&nbsp;
                    {% endif %}


                    {% if products.iloc[iter - 1 - i]['SCANNING']   %}
                      {% set content = products.iloc[iter - 1 - i]['SCANNING'] %}
                      <b>{{ 'SCANNING' }}</b>: &nbsp;
                      {% set counter = namespace(value=1) %}
                      {% for el in content %}
                        {% if el %}
                          {{ counter.value }})
                          {{ el }}
                          {% set counter.value = counter.value + 1 %}
                          &nbsp;
                        {% endif %}
                      {% endfor %}
                    {% endif %}


                    {% if products.iloc[iter - 1 - i]['SEALING']   %}
                      {% set content = products.iloc[iter - 1 - i]['SEALING'] %}
                      <b>{{ 'SEALING' }}</b>: &nbsp;
                      {{ (content|join(", ")).split(', 0', 1)[0] }}&nbsp;
                    {% endif %}


                    {% if products.iloc[iter - 1 - i]['WIFI']   %}
                      <b>{{ 'WIFI' }}</b> &nbsp;
                    {% endif %}

                    {% if products.iloc[iter - 1 - i]['SPEED']    %}
                      {% set content = products.iloc[iter - 1 - i]['SPEED'] %}
                      <b>{{ 'SPEED' }}</b>: &nbsp;
                      {{ (content|join(", ")).split(', 0', 1)[0] }}&nbsp;
                    {% endif %}

                    {% if products.iloc[iter - 1 - i]['PRINT WIDTH']   %}
                      {% set content = products.iloc[iter - 1 - i]['PRINT WIDTH'] %}
                      <b>{{ 'PRINT WIDTH' }}</b>: &nbsp;
                      {{ (content|join(", ")).split(', 0', 1)[0] }}&nbsp;
                    {% endif %}

                    {% if products.iloc[iter - 1 - i]['RESOLUTION']   %}
                      {% set content = products.iloc[iter - 1 - i]['RESOLUTION'] %}
                      <b>{{ 'RESOLUTION' }}</b>: &nbsp;
                      {{ (content|join(", ")).split(', 0', 1)[0] }}&nbsp;
                    {% endif %}

                    {% if products.iloc[iter - 1 - i]['IP RATING']   %}
                      {% set content = products.iloc[iter - 1 - i]['IP RATING'] %}
                      <b>{{ 'IP RATING' }}</b>: &nbsp;
                      {{ (content|join(", ")).split(', 0', 1)[0] }}&nbsp;
                    {% endif %}

              </div>
            </div>
          </a>
        {% endfor %}

    </div>
</div>


{% endblock content %}
