{% extends "layout.html" %}


{% block content %}
<div class="col-sm-12">
    <form action="{{ url_for('home') }}" method="post" autocomplete="off" >
      <div class="input-group" style="padding-bottom:20px;">
          <button id="searchButton" type="submit" class="btn btn-custom"> <i class="fa fa-search" style="color:white"> </i> </button>

          <input role="form" name="searchInput" id="autocomplete" type="text" placeholder="Zoeken..." aria-describedby="button-addon8" class="form-control">

        </div>
    </form>
    <div class="list-group">
        {% for i in range(0, iter) %}
          <a href="{{ url_for('item', product_name=products.iloc[iter - 1 - i]['product-name'], product_group=products.iloc[iter - 1 - i]['product-group']) }}" class="list-group-item list-group-item-action">
            <div class="row center">
              <div class="col-3 col-sm-3 col-md-3 col-lg-3 center-image-xs">
                {% if products.iloc[iter - 1 - i]['image'] %}
                  <img class="img-fluid product-img" src="{{ url_for('static', filename='img/' + products.iloc[iter - 1 - i]['image']) }}" >
                {% else %}
                  <img class="img-fluid product-img" src="/static/img/no_image.png" >
                {% endif %}
              </div>
              <div class="col-8 col-sm-9 col-md-9 col-lg-9 center-image-xs" >
                {% if products.iloc[iter - 1 - i]['new'] %}
                  <h4 class="mt-0"><span class="badge bg-danger text-light">NEW</span> {{ products.iloc[iter - 1 - i]['product-name'] }}</h4>
                {% else %}
                  <h4 class="mt-0"> {{ products.iloc[iter - 1 - i]['product-name'] }}</h4>
                {% endif %}
                  <div class="mobile-hidden-text">
                    {% if products.iloc[iter - 1 - i]['CAMERA'] %}

                      {% set content = products.iloc[iter - 1 - i]['CAMERA'] %}
                      <b>{{ 'CAMERA' }}</b>: &nbsp;
                      {% if 'front' in content|join(' ') %}
                        {% if 'rear' in content|join(' ') %}
                          {{ 'Front & Rear' }} &nbsp;
                        {% else %}
                          {{ 'Front' }} &nbsp;
                        {% endif %}
                      {% else %}
                        {{ 'Rear' }} &nbsp;
                      {% endif %}
                    {% endif %}


                    {% if products.iloc[iter - 1 - i]['WWAN'] %}
                      <b>{{ 'WWAN' }}</b> &nbsp;
                    {% endif %}

                    {% if products.iloc[iter - 1 - i]['CORDLESS'] %}
                      <b>{{ 'CORDLESS' }}</b> &nbsp;
                    {% endif %}


                    {% if products.iloc[iter - 1 - i]['GPS']   %}
                      <b>{{ 'GPS' }}</b> &nbsp;
                    {% endif %}


                    {% if products.iloc[iter - 1 - i]['OS']  %}
                      {% set content = products.iloc[iter - 1 - i]['OS'] %}
                      <b>{{ 'OS' }}</b>: &nbsp;
                      {{ (content|join(", ")).split(', 0', 1)[0] }}&nbsp;
                    {% endif %}


                    {% if products.iloc[iter - 1 - i]['SCANNING']   %}
                      {% set content = products.iloc[iter - 1 - i]['SCANNING'] %}
                      <b>{{ 'SCANNING' }}</b>: &nbsp;
                      {% set counter = namespace(value=1) %}
                      {% for el in content %}
                        {% if el %}
                          {{ counter.value }})
                          {{ el }}
                          {% set counter.value = counter.value + 1 %}
                          &nbsp;
                        {% endif %}
                      {% endfor %}
                    {% endif %}


                    {% if products.iloc[iter - 1 - i]['SEALING']   %}
                      {% set content = products.iloc[iter - 1 - i]['SEALING'] %}
                      <b>{{ 'SEALING' }}</b>: &nbsp;
                      {{ (content|join(", ")).split(', 0', 1)[0] }}&nbsp;
                    {% endif %}


                    {% if products.iloc[iter - 1 - i]['WIFI']   %}
                      <b>{{ 'WIFI' }}</b> &nbsp;
                    {% endif %}

                    {% if products.iloc[iter - 1 - i]['SPEED']    %}
                      {% set content = products.iloc[iter - 1 - i]['SPEED'] %}
                      <b>{{ 'SPEED' }}</b>: &nbsp;
                      {{ (content|join(", ")).split(', 0', 1)[0] }}&nbsp;
                    {% endif %}

                    {% if products.iloc[iter - 1 - i]['PRINT WIDTH']   %}
                      {% set content = products.iloc[iter - 1 - i]['PRINT WIDTH'] %}
                      <b>{{ 'PRINT WIDTH' }}</b>: &nbsp;
                      {{ (content|join(", ")).split(', 0', 1)[0] }}&nbsp;
                    {% endif %}

                    {% if products.iloc[iter - 1 - i]['RESOLUTION']   %}
                      {% set content = products.iloc[iter - 1 - i]['RESOLUTION'] %}
                      <b>{{ 'RESOLUTION' }}</b>: &nbsp;
                      {{ (content|join(", ")).split(', 0', 1)[0] }}&nbsp;
                    {% endif %}
                  </div>

              </div>
            </div>
          </a>
        {% endfor %}

    </div>
</div>


{% endblock content %}
